PORT=5000
JWT_SECRET= "SUACHAVE"
JWT_REFRESH= "SUACHAVEREFRESH"
DOMAINS= http://localhost:5137,https://hoppscotch.io
CLOUDNARY_API_KEY=


#BANCO

DB_HOST=localhost
DB_PORT=5432
DB_NAME=meubanco
DB_USER=postgres
DB_PASSWORD=minhasenha
DB_SSL=false